/*-------------------------------------------------Start of the Body ---------------------------------------------------------------*/

/*-------Heading-----*/

h1 {
	font-size: 100px;
	font-family: Brush Script MT;
	position: absolute;
	left: 20px;
	margin-top: 20px;
	color:  #E3F4F1   ;
}

.container {
	width: auto;
	margin-left: auto; 
	margin-right: auto;
}

.container2 {
	box-sizing: content-box;
	position: absolute;	
	height: 3550px;
	width: 1500px;
	top: 205px;
	color:  #E3F4F1;
	background-image: url(images/background3.jpg);
}

	/*-------------------------------------------------End of the Body ---------------------------------------------------------------*/


											/* Search Bar */

#search {
	width: 200px;
	height: 23px;
	background-color: white;
}

#submit {
	width: 150px;
	height: 30px;
	background-color: #0B352D ;
	color: white;
}

.searchbar {
	position: absolute;
	margin-left: 860px;
	top: 16px;
}


	/*------------------------------------------------------------Start of the Locations in the body------------------------------------------------------------*/


.location1 {
	position: absolute;
	top: 80px;	
}

#topic1 {
	color: white;
	font-family: Brush Script MT;	
	font-size: 35px;
	position: absolute;
	margin-left:310px;
}

.location2 {
	position:absolute;
	top:80px;
	margin-left: 800px;	
}

#topic2 {
	color: white;
	font-family: Brush Script MT;	
	font-size: 35px;
	position: absolute;
	margin-left: 1050px;
}

.location3 {
	position: absolute;
	top: 790px;
}

#topic3 {
	color: white;
	font-family: Brush Script MT;	
	font-size: 35px;
	position: absolute;
	top: 710px;
	margin-left:310px;
}

.location4 { 
	position: absolute;
	top: 790px;
	margin-left: 800px;
}

#topic4 {
	color: white;
	font-family: Brush Script MT;	
	font-size: 35px;
	position: absolute;
	top: 710px;
	margin-left: 1070px;
}


.location5 {
	position: absolute;
	top: 1510px;
}

#topic5 {
	color: white;
	font-family: Brush Script MT;	
	font-size: 35px;
	position: absolute;
	top: 1430px;
	margin-left:290px;
}


.location6 {
	position: absolute;
	top: 1510px;
	margin-left: 800px;
}

#topic6 {
	color: white;
	font-family: Brush Script MT;	
	font-size: 35px;
	position: absolute;
	top: 1430px;
	margin-left: 1050px;
}


.location7 {
	position: absolute;
	top: 2230px;
}

#topic7 {
	color: white;
	font-family: Brush Script MT;	
	font-size: 35px;
	position: absolute;
	top: 2150px;
	margin-left:190px;
}


.location8 {
	position: absolute;
	top: 2230px;
	margin-left: 800px;
}

#topic8 {
	color: white;
	font-family: Brush Script MT;	
	font-size: 35px;
	position: absolute;
	top: 2150px;
	margin-left: 1095px;
}

.location9 {
	position: absolute;
	top: 2950px;
}

#topic9 {
	color: white;
	font-family: Brush Script MT;	
	font-size: 35px;
	position: absolute;
	top: 2870px;
	margin-left:250px;
}


.location10 {
	position: absolute;
	top: 2950px;
	margin-left: 800px;	
}

#topic10 {
	color: white;
	font-family: Brush Script MT;	
	font-size: 35px;
	position: absolute;
	top: 2870px;
	margin-left: 1080px;
}


/*------------------------------------------------------------End of the Locations in the body------------------------------------------------------------*/



								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								








