html {
    scroll-behavior:smooth;
}

* { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 
}

.divider{
    background-color: #00247D;
    height: 5px;
}

input{
    outline: none;
}

input[type=text]:focus {
    box-shadow: 0 0 5pt 2pt #8a8686;
    outline-width: 0px;
}


/* iPhone portrait */

@media only screen and (min-width: 375px) and (max-width: 376px) {

    .login-section-container{
        width: 100%;
        padding-top: 100px;
        padding-bottom: 350px;
        background-image: url("../Materials/portrait/home-great-parks-blur.png");
        background-repeat: no-repeat;
        background-size:cover;
        transition: 1s;
    }

    .signup-section-container{
        width: 100%;
        padding-top: 100px;
        padding-bottom: 300px;
        background-image: url("../Materials/portrait/curfew-towers-blur.png");
        background-repeat: no-repeat;
        background-size:cover;
        transition: 1s;
    }

    #heading{
        text-align: center;
        font-size: 30px;
        color: #00247D;
    }

    .form-elements{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .input-text-field-container{
        margin-top: 20px;
        width: 80%;
    }

    .input-text-field{
        height: 30px;
        background-color: white;
    }

    .input-text-field::placeholder{
        text-align: center;
    }

    .submit-button-container{
        opacity: 1;
        width: 80%;
    }

    .submit-button{
        margin-top: 40px;
        background: #C81010;
        color: white;
        font-size: 20px;
    }

    #no-acc-text{
        font-size: 20px;
        font-style: italic;
        text-decoration: none;
        color: white;
    }

    .no-acc-text-container{
        margin-top: 30px;
        text-align: center;
    }
}


/* iPhone landscape */

@media only screen and (min-width: 377px) and (max-width: 812px) {

    .login-section-container{
        width: 100%;
        padding-top: 100px;
        padding-bottom: 350px;
        background-image: url("../Materials/portrait/home-great-parks-blur.png");
        background-repeat: no-repeat;
        background-size:cover;
        transition: 1s;

        display: flex;
        flex-direction: row;
        
    }

    .signup-section-container{
        width: 100%;
        padding-top: 100px;
        padding-bottom: 300px;
        background-image: url("../Materials/portrait/curfew-towers-blur.png");
        background-repeat: no-repeat;
        background-size:cover;
        transition: 1s;

        display: flex;
        flex-direction: row;
    }

    #heading{
        margin-left: 150px;
        font-size: 30px;
        color: #00247D;
    }

    .form-elements{
        display: flex;
        flex-direction: column;
        align-items: right;
        justify-content: right;
        margin-left: 150px;
    }

    .input-text-field-container{
        margin-top: 30px;
        width: 100%;
    }

    .input-text-field{
        height: 30px;
        background-color: white;
    }

    .input-text-field::placeholder{
        text-align: center;
    }

    .submit-button-container{
        opacity: 1;
        width: 100%;
    }

    .submit-button{
        margin-top: 40px;
        background: #C81010;
        color: white;
        font-size: 20px;
    }

    #no-acc-text{
        font-size: 20px;
        font-style: italic;
        text-decoration: none;
        color: white;
    }

    .no-acc-text-container{
        margin-top: 30px;
        text-align: center;
    }
}


/* iPad portrait */

@media only screen and (min-width: 813px) and (max-width: 1024px) {

    .login-section-container{
        width: 100%;
        padding-top: 100px;
        padding-bottom: 350px;
        background-image: url("../Materials/portrait/home-great-parks-blur.png");
        background-repeat: no-repeat;
        background-size:cover;
        transition: 1s;
    }

    .signup-section-container{
        width: 100%;
        padding-top: 100px;
        padding-bottom: 300px;
        background-image: url("../Materials/portrait/curfew-towers-blur.png");
        background-repeat: no-repeat;
        background-size:cover;
        transition: 1s;
    }

    #heading{
        text-align: center;
        font-size: 45px;
        color: #00247D;
    }

    .form-elements{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    input[type="text"]{
        font-size: 26px;
    }

    input[type="password"]{
        font-size: 26px;
    }

    .input-text-field-container{
        margin-top: 40px;
        width: 50%;
    }

    .input-text-field{
        height: 70px;
        background-color: white;
    }

    .input-text-field::placeholder{
        text-align: center;
        font-size: 26px;
    }

    .submit-button-container{
        opacity: 1;
        width: 50%;
    }

    .submit-button{
        margin-top: 40px;
        background: #C81010;
        color: white;
        font-size: 30px;
        padding: 10px;
    }

    #no-acc-text{
        font-size: 35px;
        font-style: italic;
        text-decoration: none;
        color: white;
    }

    .no-acc-text-container{
        margin-top: 30px;
        text-align: center;
    }
}


/* iPad landscape */

@media only screen and (min-width: 1366px) {

    .form-section-wrapper{
        display: flex;
    }

    .login-section-container{
        width: 49.5%;
        padding-top: 100px;
        background-image: url("../Materials/portrait/home-great-parks-blur.png");
        background-repeat: no-repeat;
        background-size:cover;
        transition: 1s;
    }

    #divider-spec{
        transform: rotate(180deg);
        height: 1024px;
        width: 5px;
    }

    .signup-section-container{
        width: 49.5%;
        background-image: url("../Materials/portrait/curfew-towers-blur.png");
        background-repeat: no-repeat;
        background-size:cover;
        transition: 1s;
    }

    #heading{
        text-align: center;
        font-size: 40px;
        color: #00247D;
    }

    .form-elements{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    input[type="text"]{
        font-size: 24px;
    }

    input[type="password"]{
        font-size: 24px;
    }

    .input-text-field-container{
        margin-top: 40px;
        width: 50%;
    }

    .input-text-field{
        font-size: 58px; 
        height: 45px;
        background-color: white;
    }

    .input-text-field::placeholder{
        text-align: center;
        font-size: 24px;
    }

    .submit-button-container{
        opacity: 1;
        width: 50%;
    }

    .submit-button{
        margin-top: 40px;
        background: #C81010;
        color: white;
        font-size: 30px;
    }

    #no-acc-text{
        font-size: 28px;
        font-style: italic;
        text-decoration: none;
        color: white;
    }

    .no-acc-text-container{
        margin-top: 30px;
        text-align: center;
    }


}