<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cw2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        android:allowBackup="true"
        tools:ignore="AllowBackup">

        <activity
            android:name=".displayRatingAndImage"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name=".Ratings"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name=".SearchMovies"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name=".EditMovies2"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name=".EditMovies"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name=".Favourites"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name=".DisplayMovies"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name=".RegisterMovie"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>